.slid{
    height: 300px;
    width: 100%;
    padding: 0 20px;
    object-fit: cover;
    cursor: pointer;
}
.tong{
    margin: 30px auto 50px;
}
.slick-list{
    width: 1131px;
    margin-left: 132px;
}
.title{
    border: none;
    margin-top: 67px;
    margin-left: 19px;
    font-weight: 700;
}
.des{
    margin-left: 19px;
}