.ant-card-body{
    display: block;
}
.optiondetail{
    display: flex;
}
.imgAll{
    width: 200px;
    height: 200px;
}
.option{
    position: relative;
    display: block;
    margin-left: 10px;
}
.where-togo-area{
    margin-top: 40px;
}
.price1{
    color: rgb(0, 193, 222);
    font-size: 30px;
    font-weight: bold;
    padding-left: 290px;
   
}
.pricerenhat{
    color: red;
    padding-left: 305px;
    font-size: 16px;
   
}
.pricerenhat12{  
     
    padding-left: 106px;
}

.ant-list-bordered{
    margin-top: 16px;
}
.anticon-thunderbolt{
    color: blue;
}
.adr{
    color: blue;
}
.ant-card-head{
    background-color: rgb(0, 193, 222,0.5);
}
.ant-col-18{
    padding-left: 221px;
}
.form_area{
    padding-left: 221px;
}
.hotel{
    border: none;
    margin-top: 27px;
    margin-left: 19px;
    font-weight: 700;
}
.hotro{
    margin-left: 19px;
    color: red;
}

.note{
    background-color: rgba(214, 244, 250, 0.7);
    border: none;
    margin-left: 5px;
    padding: 10px;
  
}
.name{
    width: 100%;
}
.tongHotelList{
    margin-top: 16px;
}
.comment12{
    margin-top: 3px;
}

.priceandnote{
    margin-left: 190px;
    margin-top: -34px;
}
.allList{
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
    background-color: rgb(236, 240, 245);
}